body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: black;
}

.mapa-section {
  padding: 2rem;
  background-color: lightblue;
  min-height: 100vh;
  font-family: 'Segoe UI', sans-serif;
  color: black;
}

.mapa-header {
  text-align: center;
  margin-bottom: 2rem;
}

.mapa-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.mapa-description {
  font-size: 1.1rem;
  color: black;
}

.mapa-contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mapa-figure {
  max-width: 800px;
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  background-color: black;
}

.imagen-mapa {
  width: 100%;
  height: auto;
  display: block;
}

.mapa-caption {
  text-align: center;
  padding: 0.75rem;
  font-size: 0.95rem;
  color: black;
  background-color: darkorchid;
}
