body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: black;
}

.mapa-section {
  padding: 2rem;
  background-color: lightblue;
  min-height: 100vh;
  font-family: 'Segoe UI', sans-serif;
  color: black;
}

.mapa-header {
  text-align: center;
  margin-bottom: 2rem;
}

.mapa-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.mapa-description {
  font-size: 1.1rem;
  color: black;
}

.mapa-contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mapa-figure {
  max-width: 800px;
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  background-color: black;
}

.imagen-mapa {
  width: 100%;
  height: auto;
  display: block;
}

.mapa-caption {
  text-align: center;
  padding: 0.75rem;
  font-size: 0.95rem;
  color: black;
  background-color: darkorchid;
}

.nav-tabs {
  background-color: #2c3e50;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0;
  border-radius: 2%;
  user-select: none;
  overflow: hidden;
  display: block;
  width: 100%;
  box-sizing: border-box;
  transition: background-color 0.3s ease;
}

.nav-tabs__list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  flex-wrap: wrap;
  align-items: center;
}

.nav-tabs__link {
  display: inline-block;
  transition: transform 0.3s ease;
  color: gray;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  box-shadow: 0 2px 4px rgba(70, 2, 2, 0.1);
}

.nav-tabs__link:hover {
  transform: scale(1.1);
  text-shadow: 0 0 5px rgba(18, 18, 19, 0.7);
  box-shadow: 0 4px 8px aqua;
  background-color: rgba(0, 255, 255, 0.2);
  border-radius: 8px; 
}

.nav-tabs__icon {
  height: 50px;
  width: auto;
  vertical-align: middle;
  margin-right: 0.5rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  user-select: none;
  display: inline-block;
  transition: transform 0.3s ease;
  
}